div {
	width: 400px;
	height: 400px;
}


.blue {
	background-color: blue;
	width: 400px;
	height: 400px;
	position: static;
}

.green {
	background-color: green;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 100px;
	top: 100px;
}

.black {
	background-color: black;
	width: 92px;
	height: 92px;
	position: relative;

	
	
}
